* {
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

.background {
    background-color: #13121b;
    height: 2000px;
    padding-top: 1px;
}

.title {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 70px;
    margin-top: 5%;
}

.display {
    color: rgb(255, 0, 0);
    font-size: 45px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.hide {
    display: none;
}

.container {
    margin: 30 auto;
    display: grid;
    grid-template-columns: 35% 35% 35%;
    grid-template-rows: 35% 35% 35%;
    max-width: 300px;
    height: 300px;

}

.tile {
    border: 1px solid rgb(255, 0, 0);
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #ff0000;
}

.playerO {
    color: #4100bb;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

.controls button {
    color: rgb(15, 9, 9);
    padding: 15px;
    border-radius: 40px;
    border:#131111;
    font-size: 15px;
    margin-left: 8px;
    cursor: pointer;
}

.restart {
    background-color: #131111;
}

#reset {
    background-color: #ff0000;
}